# Blacklist EVERYTHING
*
!*/
!.gitignore

# License
!LICENSE

# Documentation
!README.md
!/docs/man/*

# Maskfile
!maskfile.md

# Direnv
!.envrc

# Nix flake
!flake.nix
!flake.lock

# Crate files
!rust-toolchain.toml
!Cargo.toml
!Cargo.lock
!/src/**/*.rs
